VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
VITE_STELLAR_NETWORK=testnet
VITE_CONTRACT_ID=CDROSAGWRIQG5TSRF2FFFFXZD3RGPWDS6I3IWUTC67MELRRLZHNOE6ID
VITE_BACKEND_URL=https://your-backend-url.com
